.hdr{
    margin-top:0;
    font-size: 30px;
    box-shadow: 10px 3px 3px red;
    width: 100%;
}

.b{
    color: black;
    font: 20px;
}

#cr_f{
    bottom: 0;
    font-size: 30px;
    line-height:3;
    color: black;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: midnightblue;
    border-radius: 20px;
}

canvas{
    border: 5px dashed rgb(0, 247, 255);
    box-shadow: 10px 3px 3px blue;
    border-radius: 20px;
}